<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<head th:include="fragments/header :: head (title='Cadastro de Categoria Restaurante')">
<meta charset="UTF-8" />

<link rel="stylesheet" href="../assets/styles.css">
</head>
<body>

<div th:replace="fragments/header :: header">&nbsp;</div>

<div class="row">
 <div class="col-md-6" id="centralize">
<h4>Cadastro de Categoria de Restaurante</h4>
<form method="post">
  <div class="form-row">
  
    <div class="form-group col-md-6">
      <label for="name">Nome</label>
      <input type="text"  name="nome" id="name" class="form-control" placeholder="Nome">
    </div>
    <div class="form-group col-md-6">
      <label for="descricao">Descrição</label>
      <input type="text" name="descricao" class="form-control" placeholder="Descricao">
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Salvar</button>
   <a class="btn btn-light" href="/categoriasRestaurantes">Voltar</a>
</form>

</div>

</div>





</body>



</html>