<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8" />
<title>Cadastro Usuário</title>
</head>
<body>

<h1>Cadastro Usuário</h1>

<form method="post" th:each="usuario : ${usuario}">


Nome : <input type="text" value="" name="nome" id="name" th:value="${usuario.nome}">
Email : <input type="text" value="" name="email" th:value="${usuario.email}">
Senha : <input type="password" value="" name="senha" th:value="${usuario.senha}">

<button type="submit">Salvar</button>
</form>

<h4><a href="/usuarios" > Voltar</a></h4>
</body>



</html>