<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">

<head>
<title>Usuários</title>
<meta charset="UTF-8" />

     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>

<h3>Usuários</h3>

<div th:each="usuario : ${usuarios}">

	<div class="row">
		<p><span th:text="${usuario.id}"></span>  </p>
		<p><span th:text="${usuario.nome}"></span>  </p>
		<p><span th:text="${usuario.email}"></span>  </p>
		<p><span th:text="${usuario.senha}"></span>  </p>
		<a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('UC#deletarUsuario').arg(0, usuario.id)).build()}"><i class="material-icons left">delete</i></a>
		<a  th:href="@{'/editarUsuario?codigo=' + ${usuario.id}}">Editar</a>
		
		
	</div>

</div>


<h4><a href="/cadastrarUsuario">Cadastrar</a> </h4>


</body>



</html>